<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Data Tracker</title>
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
  	<link rel="icon" href={% static "pdt/favicon.ico" %} type="image/x-icon" />
    <link href="{% static 'pdt/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'pdt/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'pdt/css/developer_menu_css' %}" ref="stylesheet">
    <script src="{% static 'pdt/js/jquery-1.11.3.min.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <style>
  .form_element{
	margin-top:20px;
	}
  </style>
  
  <body>
    <div style="width:100%;background-color:black">
      <h3 style="color:#cccccc;text-align:center;padding:15px;margin:0px">Defect Removal</h1>
    </div>
    
    <div class="" style="background-color:#cccccc;margin:0px">
      <p style="text-align:center"> Name:<span id="name">{{name}}</span>&nbsp&nbsp&nbspID:<span id="ID">{{ID}}
    </div>
    <div class="container">
		<b><p class="form_element">Defect Type</p></b>
        <div class="row">
			<div class="col-md-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"></span>
				<select class="form-control" id="defect_type">
					<option value="R">Requirements</option>
					<option value="D">Design</option>
					<option value="I">Implementation</option>
					<option value="B">Bad Fix</option>
				</select>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<b><p class="form_element form_element">Injection Information</p></b>
				<select class="form-control form_element" id="injection_phase">
					{% for item in new_ph_list %}
						<option value="{{forloop.counter0}}">{{item}}</option>
					{% endfor %}
				</select>
				<select class="form-control form_element" id="injection_iteration">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</div>
			<div class="col-md-6">
				<b><p class="form_element form_element">Removal Infomation</p></b>
				<select class="form-control form_element" id="removal_phase" disabled>
					<option value="{{phase}}" num="1">{{phase}}</option>
				</select>
				<select class="form-control form_element" id="removal_iteration" disabled>
					<option value="{{iteration}}">{{iteration}}</option>
				</select>
			</div>
		</div>
		<b><p class="form_element">Defect Description</p></b>
		<div class="row">
			<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"></span>
					<input type="text" class="form-control" id="defect_description" placeholder="Project Description" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
		<div style="border-top-width:10px;border-style:groove;padding:10px;text-align:center;margin-top:50px">
          <div>
            <button class="btn btn-default" id="pause_button" onclick="updatepause()" style="display:inline">Pause</button>
          </div>
          <h1 style="" id="Project_Timer">00:00:00</h1>
      	</div>
	</div>
	
	
	
    <footer class="footer" style="background-color:#0080DB;padding:20px;width:100%;position:absolute;bottom:0px;text-align:center">
        <button class="btn btn-default" id="Done" style="margin-left:auto;margin-right:auto">Done</button>
        <button class="btn btn-default" id="Cancel" style="margin-left:auto;margin-right:auto">Cancel</button>
    </footer>
    
    <script>
		var iteration_num={{itnum_list}}
		$("#injection_phase").change(function(){
			var num = iteration_num[$(this).val()];
			$("#injection_iteration").find("option").remove();
			for (var i=1;i<=num;++i){
				$("#injection_iteration").append("<option value=\""+i+"\">"+i+"</option>");
				}
		});

		$("#Cancel").click(function(){
			window.history.back();
		});

		$(document).ready(function(){
			var num = iteration_num[$("#injection_phase").val()];
			$("#injection_iteration").find("option").remove();
			for (var i=1;i<=num;i++){
				$("#injection_iteration").append("<option value=\""+i+"\">"+i+"</option>");
				}
		});
	
		$("#Done").click(function(){
			$.ajax({
				method:"POST",
				url:"/pdt/defect_removal/",
				data:{
					type: $("#defect_type").val(),
					description: $("#defect_description").val(),
					pid: {{project.project_id}},
					inject_phase: parseInt($("#injection_phase").val())+1,
					inject_iteration: $("#injection_iteration").val(),
					remove_phase: {{phase_id}},
					remove_iteration:{{iteration}},
					csrfmiddlewaretoken: '{{ csrf_token }}'
					},
				error: function(xhr, ajaxOptions, thrownError){
					$("body").html(xhr.responseText);
					console.log(xhr.responseText);
				},
				success: function(data){
					alert(data);
					window.location.href="/pdt/developer_menu";
				}
					});
		});
    </script>

    <script>
      function uploadtimer(){
        var postdata={
            'time_value':timer,
            'id':{{project.project_id}},
            'activity':'Defect Removal',
            'csrfmiddlewaretoken': '{{ csrf_token }}'};
        $.post("/pdt/updatetime/", postdata, function(response){});
        };
      $("#stop_button").click(function(){
        var postdata={
            'time_value':timer,
            'id':{{project.project_id}},            
            'activity':'Defect Removal',
            'csrfmiddlewaretoken': '{{ csrf_token }}'};
        $.ajax({
          type:"POST",
          url:"/pdt/updatetime/",		
          data:postdata,
          success:function(data){
            alert("Stop Successfully");
            window.location.href="/pdt/developer_menu";
          },
          error:function(xhr, textStatus, error){
            alert("Stop failed");
            console.log(xhr.responseText);
          }
          });
        });
    </script>
    
    <script>
      var timer={{time_used}};
      var is_paused;
      var pid={{project.project_id}}
      function Updatetimer(){
        console.log(timer);
        if(!is_paused)  timer+=1;
        var nhour=Math.floor(timer/3600);
        var nmin=Math.floor((timer%3600)/60);
        var nsec=(timer%3600)%60;
        if (nhour<10) nhour = "0" + nhour;
        if (nmin<10) nmin = "0" + nmin;
        if (nsec<10) nsec = "0" + nsec;
        document.getElementById('Project_Timer').innerHTML=""+nhour+":"+nmin+":"+nsec+"";
        uploadtimer();
        }
      function updatepause(){
        is_paused=!is_paused;
        var text;
        if(is_paused){
          uploadtimer();
          text="Resume";
        }
        else text="Pause";
        document.getElementById('pause_button').innerHTML=text;
        }
      window.onload=function(){
        is_paused=false;  
        console.log(timer);
        setInterval(Updatetimer,1000);
      }
	</script>
  </body>